* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.Center {
    display: flex;
    max-width: 1100px;
    padding:0 2px;
    margin: 0 auto;
    flex-wrap: wrap;
    
}

section.Main {
    width: 100%;
    height: 100vh;
    background-image: url(Assets/245-2452031_seiya-os-cavaleiros-do-zodaco.jpg);
    background-position: center;
    background-size: cover;
    padding: 20px 0 80px 0;
    
}

.Menu {
    display: flex;
    width: 100%;

}
.Menu img{
    top: 0;
    left: 0;
    margin-top: -40px;
    margin-left: -50px;
   width: 300px;
   float: left;

}

.Itens-Menu {
    width: 100%;
    height: 40px;
    margin-top: -20px;
    justify-content: center;
    align-items: center;
    text-align: center  ;
    background-color: rgba(10,23,55,0.5) ;

}

.Itens-Menu a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin: 10px 30px;
    float:right;
}

.Itens-Menu a:hover{
    border-bottom: 3px solid yellow;
}

.V-Centro {
    display: block;
    width: 100%;
    color: rgb(14, 13, 13);
    text-align:center;
    margin-top: -400px;
    background-color: rgba(10,23,55,0.5) ;

}
.V-Centro h1 {
    font-size: 50px;
}
.V-Centro p {
    font-weight: bold;
}