body,
html {
    list-style: none;
    margin: 0;
    padding: 0;
}
#Home {
    background-color: rgb(37, 37, 37);
}
.Menu-div {
    display: flex;
}
#Menu-h {
    border: none;
}
#Menu-h li {
    display: inline;
}
#Menu-h li a {
    color: azure;
    padding: 0 10px;
    display: inline-block;
    text-decoration: none;
    display: inline;
}
.Container {
    width: 100%;
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-image: url(Imagens/Seiya.jpg); */
    animation: slide 60s infinite;
}
button {
    border: none;
    outline: none;
    color: rgb(129, 112, 224);
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
}
.Text-0 {
    background-color: rgb(37, 37, 37);
    padding: 15px;
}
.Text-1 {
    font-family: "Times New Roman", Times, serif;
    margin: 0px 20px;
    color: white;
    height: 100%;
}
.Container-anime {
    display: flex;
}
.anime {
    width: 100%;
    display: flex;
    height: 220px;
}
#modal_pop {
    position: fixed;

    
}
#modal_pop.fechaPop {
    display:none;
}
#modal_ep {
    width: 100%;
    height: 200px;
    color: #333;
    background-color: transparent;
    text-align: center;
    z-index: 999999;
    margin-top: 0px;
}
#modal_ep_content {
    padding: 255px 0 0 0;
    font-family: inherit;
    background: rgb(37, 37, 37,.8);
    height: 100vh;

}
#modal_ep_content span:nth-child(2) {
    display: block;
    color: #f0ecec;
    font-size: 32px;
    font-weight: 600;
}

.modal_btn {
    display: inline-block;
    margin: 18px 0 15px 0;
    padding: 8px 25px 8px 25px;
    color: #fff;
    font-size: 19px;
    font-weight: 900;
    background-color: rgba(183,146,56,255);
    border: 1px solid #fff;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 100px;
    text-decoration: none;
        
}
.modal_btn:hover{
    background-color: rgba(235,200,56,255);

}
#closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
/* .closeButton:hover{
    background-color: rgba(235,200,56,255);

} */
/* @keyframes slide {
    10% {
        background-image: url(Imagens/imagens-usadas/saint-seiya-saori-kido-hd-wallpaper-preview.jpg);
    }
    25% {
        background-image: url(Imagens/imagens-usadas/ikki.jpg);
    }
    40% {
        background-image: url(Imagens/imagens-usadas/Seiya.png);
    }
    55% {
        background-image: url(Imagens/imagens-usadas/shiryu.png);
    }
    70% {
        background-image: url(Imagens/imagens-usadas/Hyoga.png);
    }
    85% {
        background-image: url(Imagens/imagens-usadas/shun.jpg);
    }
    100% {
        background-image: url(Imagens/imagens-usadas/ikki.jpg);
    }
} */

/* #bio_ep_content span:nth-child(3) {
    display: block;
    font-size: 16px;
} */
/* #bio_ep_content span:nth-child(4) {
    display: block;
    margin: -5px 0 0 0;
    font-size: 16px;
    font-weight: 600;
} */